@import "../app.component.scss"; 

.container
{
    width:220px;
    margin: 16px auto 10px auto;
    font-family:optima;
    font-size:20px;
}

.indexLetter
{
    font-family:"Calibri Light";
    font-size:25px;
    font-weight: bold;
}

#searchbox
{
    margin-left: 16px;
    height:25px;
}

.filterbox
{
  width:600px;  
  margin: 16px auto 10px auto;
  font-family:"Calibri Light";
  font-size: 25px;
 
}

.filter
{
    width:70px;
    float: left;
    //margin-left: 16px;
    cursor: pointer;
    text-align: center;
}

.vl {
    border-left: 2px solid darkgray;
    height: 31px;
    float:left;
   // margin-left: 16px;
  }

  @media (prefers-color-scheme: dark) {

    input{
        background-color: black;
    }
  }