
<p class="headline">follow the path to glory</p>
<a [routerLink]="['/paths']">back to overview</a>

   
    <a *ngFor="let item of exercises;let i = index;" class="exercise" [routerLink]="['/exercises',item.name]">
        <div class="content"><p>{{item.name}}</p><p> lalala details</p></div>
        <div *ngIf="exercises[i].images[0]">
             <img [src]="exercises[i].images[0].image" class="contentimg" style="width:280px;height:280px;"/>
        </div>
    </a>

    <div class="colorbackground"></div>

