Follow the path to glory
<div (click)="backToOverview()">back to overview</div>

<div class="card-container">
   
    <div class="card" (click)="selectPath('name')">
    <div><p>Hand</p></div>
    <img src="assets/pullup1.JPG" style="width:280px;height:280px;"/>
    </div>

    <div class="card" (click)="selectPath('name')">
        <div><p>Handstand</p></div>
        <img src="assets/pullup1.JPG" style="width:280px;height:280px;"/>
    </div>

    <div class="card" (click)="selectPath('name')">
        <div><p>Handstand</p></div>
        <img src="assets/pullup1.JPG" style="width:280px;height:280px;"/>
    </div>

    <div class="card" (click)="selectPath('name')">
        <div><p>Handstand</p></div>
        <img src="assets/pullup1.JPG" style="width:280px;height:280px;"/>
    </div>

    <div class="card" (click)="selectPath('name')">
        <div><p>Handstand</p></div>
        <img src="assets/pullup1.JPG" style="width:280px;height:280px;"/>
    </div>

</div>
