@import "../app.component.scss"; 


.exercise
{
    font-family: "Calibri Light";
    font-weight: lighter;
    color:black;
    margin: 0px auto 16px auto;
    width:650px;
    height:280px;
    border: 2px solid #444;
    display: table;
   // margin-bottom: 16px;
   cursor:pointer;
}

.content
{
    //border-style: solid;
    font-family: "Calibri Light";
    width:220px;
    display: table-cell; 
    vertical-align: middle; 
    text-align: left;
}

.ellipse
{
    width:220px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: center;

}

.contentlevel
{
    //border-style: solid;
    font-family: "Calibri Light";
    font-size: 20px;
    width:80px;
    display: table-cell; 
    vertical-align: middle; 
    text-align: center;
    margin-left: 60px;
}

.contentimg
{    
    float: right; 
}

.colorbackground
{
    position: relative;
    height: 100%;
    width:100%;
    z-index: -1;
    background-color: red;
    background: rgb(36,96,140);
    background: linear-gradient(90deg, rgba(36,96,140,0.458420868347339) 0%, rgba(36,96,140,1) 100%);
}

.itemname
{
    font-family: optima;
    font-size: 40px;
    font-weight: 50;
}
