<p class="headline">Schedules and Progressions</p>

<div class="content">

<div class="textblock">
    <div>
<p>Check out some pre defined training schedules or create your own custom schedule with the generator. Have fun.</p>

<p class="headline" i18n>Basics about training plans and progression</p>
<p>
There's tons of literature and studies about routines and progression. Only so much:

</p>
<ol>
<li>key factor again is <b>consistency</b>: No matter how good or enthusiastic your routine is. If you don't stick to it, its worthless. 
    Keep that in mind while designing your personal routine. 
    It must be possible to follow it along during your week, it must be a harmonic part of your life. And don't forget the fun: the more your looking forward to your next session, the easier it is to motivate yourself.
    Intrinsic motivation is key. This can be achieved by:</li>
    <li>Setting goals! Only with a measurable, achievable goal, motivation can be held up, and progression can be made. Therefore, instead of
        saying your goal is "getting fit" or "getting in shape", define hard and measurable goals like:
        <ul>
            <li>I want to do 20 pullups</li>
            <li>I want to hold the front-lever for 10 seconds</li>
            <li>I want to hold the freestanding handstand</li>
            <li>...</li>
        </ul>
        After you set your goals, check out <b><a [routerLink]="['/paths']">the learning path section</a></b> and study the path and steps to achive it.
        Based on these steps, these exercises should be the focus on your routine. Build around supporting exercises and also antagonist 
        training in order to Keepyou body in balance. This helps to prevent injuries and inbalances in your joints.
     </li>
     <li>Dont forget warmup and warmdown/stretching. This is important to prevent injury and to make sure your body has working temperature to do the heavy load stuff.
         Think of your car. You don't rev it in cold state to the maximum, if you love your engine. Same's for your body.
     </li>
     <li>
         For the very beginning, to get some basic strenght, stick to simple training routins. No splits, just full body workouts 2 or three times a week.
         (See examples below)
     </li>
     <li>
         For me, it helps not to date training-days on fixed week days. I mean I don't say monday's leg-day, tuesday's back day, wednesday's rest and thursday a skill day.
         The reason is, what do you do if tuesday's the birthday of your girlfriend, or grandmother or another important thing. Cancel it because you have to train? Good luck.
         Your daily life will always have some surprises for you, which makes you skip your training. So the routine is out of sync now. 
         What do you do now?<br>
         You could just stick to your routine, meaning you would have two rest days in this scenario.<br>
         I prefer to just not put training days on fixed week days. Important is to keep the relation betweeen the days.
         E.g. after a max strengh day should be a rest or cardio day. After a skill day can follow a full bodyweight day, and so on.
         So below you will find only 7 Days scheduled, but without a weekday. You can adapt it to your personal week as it fits best.
     </li>
</ol>

</div>
</div>

<div class="textblock">
    <div>

<p class="headline" i18n>Sets and  Reps</p>
<p>
To design your sets and reps you neeed to understand the following. 
Based on this, you can define your personal set and rep structure for your workout routine.
</p>
<ul>
    <li>muscle growth, also known as hypertrophy, comes from progressive overload. Meaning your muscles and nervous system adapt to increasing stress, caused by resistance and load. 
        The following are the parameters you can adjust:
    </li>
    <li>Intensity (% of 1RM)</li>
    <li>Volume - How many exercises do you do per workout, per muscle.</li> 
<li>Sets</li>
<li>Reps</li>
<li>Frequency</li>

</ul>


</div>
</div>

</div>

<p class="textblock"></p>

<table class="tg">
    <caption>Bginner Routine - 3 x Full Body weight workout a  week</caption>
    <thead>
      <tr>
        <th class="tg-4688">Full bodyweight workout</th>
        <th class="tg-4688">Rest day</th>
        <th class="tg-4688">Rest day</th>
        <th class="tg-4688">Full bodyweight workout</th>
        <th class="tg-4688">Rest day</th>
        <th class="tg-4688">Full bodyweight workout</th>
        <th class="tg-4688">Rest day</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-0pky">Warmup
        </td>
        <td class="tg-0pky"></td>
        <td class="tg-0pky"></td>
        <td class="tg-0pky">Warmup</td>
        <td class="tg-0pky"></td>
        <td class="tg-0pky">Warmup</td>
        <td class="tg-0pky"></td>
      </tr>
      <tr>
        <td class="tg-0pky">Pullups-Progression</td>
        <td class="tg-0pky"></td>
        <td class="tg-0pky"></td>
        <td class="tg-0pky">Pullups-Progression</td>
        <td class="tg-0pky"></td>
        <td class="tg-0pky">Pullups-Progression</td>
        <td class="tg-0pky"></td>
      </tr>
      <tr>
        <td class="tg-0pky">Pushups</td>
        <td class="tg-0pky"></td>
        <td class="tg-0pky"></td>
        <td class="tg-0pky">Pushups</td>
        <td class="tg-0pky"></td>
        <td class="tg-0pky">Pushups</td>
        <td class="tg-0pky"></td>
      </tr>
      <tr>
        <td class="tg-0pky">Squats</td>
        <td class="tg-0pky"></td>
        <td class="tg-0pky"></td>
        <td class="tg-0pky">Squats</td>
        <td class="tg-0pky"></td>
        <td class="tg-0pky">Rows</td>
        <td class="tg-0pky"></td>
      </tr>
      <tr>
        <td class="tg-0pky">Rows</td>
        <td class="tg-0pky"></td>
        <td class="tg-0pky"></td>
        <td class="tg-0pky">Rows</td>
        <td class="tg-0pky"></td>
        <td class="tg-0pky">Dips</td>
        <td class="tg-0pky"></td>
      </tr>
      <tr>
        <td class="tg-0pky">Skill of your choice (e.g. Handstand-Progression)</td>
        <td class="tg-0pky"></td>
        <td class="tg-0pky"></td>
        <td class="tg-0pky">Core Workout</td>
        <td class="tg-0pky"></td>
        <td class="tg-0pky">Skill of your choice (e.g. Handstand-Progression)</td>
        <td class="tg-0pky"></td>
      </tr>
      <tr>
        <td class="tg-0pky">Stretching</td>
        <td class="tg-0pky"></td>
        <td class="tg-0pky"></td>
        <td class="tg-0pky">Stretching</td>
        <td class="tg-0pky"></td>
        <td class="tg-0pky">Stretching</td>
        <td class="tg-0pky"></td>
      </tr>
    </tbody>
    </table>