/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Bebas-Neue";
    src: local("Bebas-Neue"), url(./assets/fonts/BebasNeue-Regular.ttf) format("truetype");
  }
  

body{
    width:100%;
    margin-left: 0px;
}