/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Bebas-Neue";
    src: local("Bebas-Neue"), url(./assets/fonts/BebasNeue-Regular.ttf) format("truetype");
  }
  
html *
{
   color: whitesmoke !important;

}

body{
    width:100%;
    margin-left: 0px;
    background-color: black;
}

@media (prefers-color-scheme: dark) {
  body{
    width:100%;
    margin-left: 0px;
    background-color: white;
}

html *
{
   color: black !important;

}
}