.headline
{
    font-family:"Calibri Light";
    font-size: 50px;
    font-weight: 100;
    color:black;
}

.headline2
{
    font-family:optima;
    font-size: 50px;
    font-weight: 100;
    color:black;
}

.textblock
{
    display:flex;
    width:60%;

    font-family:optima;
    font-size:20px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.textblock-right
{
    @extend .textblock;
    float:right;
}

@media screen and (max-width: 575px) {

    img#background
    {
        display: none;
        visibility: hidden;
    }

    .textblock,
    .textblock-right
    {
        width:100%;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-orient: vertical;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
  }