<div class="content">
    <img src="assets/background2.jpg" style="width:100%">
  </div>
<div class="textblock">
    <img src="assets/rack1.JPG" id="background" class="textimage"/>
<div style="margin-left:20px;">
    <p class="headline" i18n>What is Calisthenics</p>
    <p i18n>Basically calisthenics means physical training with nothing but your bodyweight. The name comes from Greek words "kalos",
    which is beautiful or good and "sthenos" - the Greek word for strength.
    And this is exacly what we all want right? A strong and well shaped healthy body. The good news is, calisthenics helps us to achieve exactly that, in an efficient and fun way.
    So if your not into fitnesscenters with all the machines and pumping iron, your at the right adress. 
    </p>
</div>
</div>

<div class="textblock-right">
    
<div style="margin-left:20px">
    <p class="headline" i18n>Why Calisthenics</p>
<p i18n>You might ask, does it even work without any weights? Without the high sophisticated machines?
    Am I able to build muscle or to fix my bad posture or back pains with just Bodyweight excercises and get in shape?
    Short answer here is: yes. 
    Calisthenics makes heavy use of so called compounds excersises. Meaning there are no (or very few) isolated excersises for just one single muscle.
    Rather it helps training large muscle groups in their natural interaction. E.g. instead of training your biceps with a dumbell, you would do combound excercises like
    pull ups to train biceps, Latissimus, Lower Trapezius and more, all in one excercise.
    This is also a heavy boost for your coordination and mobility.
    Can't do pullups? No problem there are progessions for every skill and strenght level, from begginer to olympic gold medal winner.
    Weak or strong, man or woman, old or young, all doen't matter, there are excercises for every one and for every goal.
</p>
</div>
<img src="assets/rings2.JPG" id="background" class="textimage"/>
</div>

<div class="textblock">
    <img src="assets/rack1.JPG" class="textimage" id="background"/>
<div style="margin-left:20px">
    <p class="headline" i18n>What do you need</p>
<p i18n>For the beginning, you basically just need two things: The easy one: Your body. The hard one: A goal, and the consistency to achieve it.
    With both ready, your good to start. Nevertheless some resitance bands might help to build some basic strength.

    Of course if you are more advanced or want to achieve more difficult and complicated skills some equimpment or specific training area is required.
    Number one priority should be a pullup Bar.
    This can be in a near calisthenics park, a playground, a swing in the garden or a doorway pullup bar. Anything which is suitable to carry your bodyweight is good.
    In an ideal world it is high enough to fit your whole body with raised armes under the bar and also some space above, enough for your upper body.
    If this not the case don't worry, the number 2 most usefull equipment are gymnasic rings.
    They not only provide more challenging variations of excersises due to their flexibility, they also allow you to adjust the perfext hight for the excersise you want do do. 
    E.g. lower them to perform dips or muscle-ups. Besides you can carry and install them everywhere you want. So I hope you got the message: Get yourself some rings.
    Number 3 is weights. If Bodyweight exercises get to easy, you can help out with additional weights, but its not mendatory, 
    you can raise difficulty always by body position or excercise type.

</p>
</div>
</div>

<div class="textblock-right">
    
    <div style="margin-left:20px">
        <p class="headline" i18n>How to start</p>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
    <img src="assets/pullup1.JPG" class="textimage" id="background"/>
    </div>

    <div class="textblock">
    
        <div style="margin-left:20px">
            <p class="headline" i18n>Disclaimer</p>
        <p i18n>
            If you use the exercises and inormation presented on calisthenicshero.com you agree to the following terms of usage. Don't use calisthenicshero.com if you don't agree.<br>
            - The usage of all information provided on calisthenicshero.com is at the own risk of the user. 
              This contains all presented exercises, workouts, trainingschedules, nutrition plans and all further information.<br>
            - under no circumstances the author, the provider or any other mentioned third party is liable for any damge or injury (now or in future). This includes personal and bodily injuries, property damage, financial losses, psychical injeries, diseases, heartattack and death, no matter how accured, during or after the consultation of calisthenicshero.com and when the change of habits, nutrition due to the infortmation of calisthenicshero.com took place<br>
            - the provided material on calisthenicshero.com serves only teaching purpose. The author or provider doesn't take any responsibility for taken health measures following calisthenicshero.com <br>
            - the user agrees that he or she only follows the exercises and information after the consultation of a doctor and with the assistance of a qualified physical trainer.<br>
            - the user agrees that every change in nutrition must only be done after the consultation of a doctor and after diagnosis and therapy of a qualified doctor.  
        </p>
        </div>
        </div>